In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn 

labels = ['a','b' , 'c']
mylist = [10 ,20 ,30]

arr = np.array([mylist])

dec = {'a' : 10 , 'b' : 20 , 'c' : 30}




#\\\\
# pd.Series(dec)




ser1 = pd.Series([1 ,2,3,4] , index=["plastine" , "egypt" , "morroco"  ,"saudi"])
ser1

plastine    1
egypt       2
morroco     3
saudi       4
dtype: int64

In [2]:
#np.random.seed(101)

df = pd.DataFrame(np.random.randn(5,4) ,index= 'A B C D E'.split() , columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.678726 -0.285642  1.006847 -0.437700
B  0.426384  1.006175  0.997935  0.109195
C -1.218521  2.127197 -1.313091  0.329559
D  1.391222  0.582043  0.727020 -1.216605
E  0.330145  2.287272 -2.892899 -0.428374

In [3]:
df['W']

A    0.678726
B    0.426384
C   -1.218521
D    1.391222
E    0.330145
Name: W, dtype: float64

In [4]:
type(df['W'])

pandas.core.series.Series

In [5]:
df

          W         X         Y         Z
A  0.678726 -0.285642  1.006847 -0.437700
B  0.426384  1.006175  0.997935  0.109195
C -1.218521  2.127197 -1.313091  0.329559
D  1.391222  0.582043  0.727020 -1.216605
E  0.330145  2.287272 -2.892899 -0.428374

In [6]:
# dropping a colomn

#df.drop('New' , axis= 1 , inplace=True)

In [7]:
#dropping a column 

df.drop('A' , inplace=True)

In [8]:
df

          W         X         Y         Z
B  0.426384  1.006175  0.997935  0.109195
C -1.218521  2.127197 -1.313091  0.329559
D  1.391222  0.582043  0.727020 -1.216605
E  0.330145  2.287272 -2.892899 -0.428374

In [9]:
# accessing a row by the name and index as a serie

df.loc['C']

W   -1.218521
X    2.127197
Y   -1.313091
Z    0.329559
Name: C, dtype: float64

In [10]:
df.iloc[1]

W   -1.218521
X    2.127197
Y   -1.313091
Z    0.329559
Name: C, dtype: float64

In [11]:
# accessing an element of multiple

df.loc['B' , 'Z']

0.10919544916685019

In [12]:
df.loc[['B' , 'C'],['Z' , 'Y']]

          Z         Y
B  0.109195  0.997935
C  0.329559 -1.313091

In [13]:
bool = df > 0

In [14]:
df[df['W']<0]

          W         X         Y         Z
C -1.218521  2.127197 -1.313091  0.329559

In [15]:
df

          W         X         Y         Z
B  0.426384  1.006175  0.997935  0.109195
C -1.218521  2.127197 -1.313091  0.329559
D  1.391222  0.582043  0.727020 -1.216605
E  0.330145  2.287272 -2.892899 -0.428374

In [16]:
df[(df['W']> 0) & (df['Y']<0) ]

          W         X         Y         Z
E  0.330145  2.287272 -2.892899 -0.428374

In [17]:
df[(df['W']> 0) | (df['Y']<0) ]

          W         X         Y         Z
B  0.426384  1.006175  0.997935  0.109195
C -1.218521  2.127197 -1.313091  0.329559
D  1.391222  0.582043  0.727020 -1.216605
E  0.330145  2.287272 -2.892899 -0.428374