In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
############### pandas Operation ######################

In [3]:
df7 = pd.DataFrame({
    
    'column1' : [1,2,3,4],
    'column2' : [444,555,666 ,444],
    'column3' : ['abc' , 'def' , 'ghi' , 'xyz'],

} ,)

In [4]:
df7

   column1  column2 column3
0        1      444     abc
1        2      555     def
2        3      666     ghi
3        4      444     xyz

In [5]:
df7['column2'].unique()

array([444, 555, 666], dtype=int64)

In [6]:
df7['column2'].nunique()

3

In [7]:
df7['column2'].value_counts()

444    2
555    1
666    1
Name: column2, dtype: int64

In [8]:
# Applying Functions to the data frame

def times2 (x) : 
    return x*x 

df7['column1'].apply(times2)

0     1
1     4
2     9
3    16
Name: column1, dtype: int64

In [9]:
df7.sort_values('column2')

   column1  column2 column3
0        1      444     abc
3        4      444     xyz
1        2      555     def
2        3      666     ghi

In [10]:
#df.pivot_table()